<template>
  <v-app-bar app color="primary" dark>
    <v-toolbar-items>
      <v-btn text :to="{ name: 'index' }" exact> ساهم </v-btn>
    </v-toolbar-items>
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <template v-if="$vuetify.breakpoint.smAndUp">
        <v-btn text :to="{ name: 'types' }" exact> الفئات </v-btn>
        <v-btn text @click="searchDialog = true"> البحث </v-btn>

        <template v-if="user">
          <v-btn text :to="{ name: 'donor' }" exact> حسابي </v-btn>
        </template>
        <template v-else>
          <v-btn text :to="{ name: 'register' }" exact> انشاء حساب </v-btn>
          <v-btn text :to="{ name: 'login' }" exact> تسجيل دخول </v-btn>
        </template>

        <v-btn text :to="{ name: 'team' }" exact> الفريق </v-btn>
      </template>
      <template v-else>
        <v-tooltip bottom>
          <template #activator="{ on, attrs }">
            <v-btn icon :to="{ name: 'types' }" exact v-bind="attrs" v-on="on">
              <v-icon>mdi-grid-large</v-icon>
            </v-btn>
          </template>
          <span>الفئات</span>
        </v-tooltip>

        <v-tooltip bottom>
          <template #activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" @click="searchDialog = true" v-on="on">
              <v-icon>mdi-magnify</v-icon>
            </v-btn>
          </template>
          <span>البحث</span>
        </v-tooltip>

        <template v-if="user">
          <v-tooltip bottom>
            <template #activator="{ on, attrs }">
              <v-btn
                icon
                v-bind="attrs"
                :to="{ name: 'donor' }"
                exact
                v-on="on"
              >
                <v-icon>mdi-account</v-icon>
              </v-btn>
            </template>
            <span>حسابي</span>
          </v-tooltip>
        </template>
        <template v-else>
          <v-tooltip bottom>
            <template #activator="{ on, attrs }">
              <v-btn
                icon
                v-bind="attrs"
                :to="{ name: 'register' }"
                exact
                v-on="on"
              >
                <v-icon>mdi-account-plus</v-icon>
              </v-btn>
            </template>
            <span>انشاء حساب</span>
          </v-tooltip>

          <v-tooltip bottom>
            <template #activator="{ on, attrs }">
              <v-btn
                icon
                v-bind="attrs"
                :to="{ name: 'login' }"
                exact
                v-on="on"
              >
                <v-icon>mdi-login</v-icon>
              </v-btn>
            </template>
            <span>تسجيل دخول</span>
          </v-tooltip>
        </template>

        <v-tooltip bottom>
          <template #activator="{ on, attrs }">
            <v-btn icon :to="{ name: 'team' }" exact v-bind="attrs" v-on="on">
              <v-icon>mdi-account-group</v-icon>
            </v-btn>
          </template>
          <span>الفريق</span>
        </v-tooltip>
      </template>
    </v-toolbar-items>

    <v-dialog v-model="searchDialog" max-width="600">
      <v-card>
        <v-card-title>
          <v-text-field
            v-model="search"
            label="البحث"
            append-icon="mdi-magnify"
          ></v-text-field>
        </v-card-title>
        <v-card-text v-if="filtered.length">
          <v-row dense>
            <v-col v-for="item in filtered" :key="item.name" cols="6" sm="4">
              <v-card hover :to="{ name: 'types-id', params: { id: item.id } }">
                <v-img :src="item.image" height="150" contain>
                  <template #placeholder>
                    <v-row
                      class="fill-height ma-0"
                      align="center"
                      justify="center"
                    >
                      <v-progress-circular
                        indeterminate
                        color="primary"
                      ></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
                <v-card-text>
                  {{ item.name }}
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-text v-else-if="search">
          <v-alert type="info"> عذرا لا توجد منتجات تستوفي بحثك </v-alert>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-app-bar>
</template>

<script>
export default {
  props: {
    user: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      searchDialog: false,
      search: null,
      types: [
        {
          id: 1,
          name: 'كراسي متحركة',
          single: 'كرسي متحرك',
          image:
            'https://www.wishingwellmedicalsupply.com/wp-content/uploads/2016/04/Standard-Wheelchair.jpg',
        },
        {
          id: 2,
          name: 'اسرة طبية',
          single: 'سرير طبي',
          image:
            'https://bestmobilityaids.com/wp-content/uploads/Mattresses-for-hospital-beds.jpg',
        },
        {
          id: 3,
          name: 'عكازات ',
          single: 'عكاز',
          image:
            'https://cdn.salla.sa/abgsKWoHXhmuEsoNsbHAB3HOboh0IHjzKg1yqcJT.jpg',
        },
        {
          id: 4,
          name: 'اجهزة قياس الضغط',
          single: 'جهاز قياس الضغظ',
          image:
            'https://www.lemon.sa/image/cache/catalog/pharmacy/products/appliances/Blood-pressure-checker-400x400.jpg',
        },
        {
          id: 5,
          name: 'اجهزة دعم الحركة',
          single: 'جهاز دعم الحركة',
          image:
            'https://lookformedical.com/img/2/29/Mobility-aids-rifton-pacer-gait-trainer.jpg',
        },
        {
          id: 6,
          name: 'مولدات اكسجين',
          single: 'مولد اكسجين',
          image:
            'https://1.bp.blogspot.com/-Uomqk1EY2qo/V65r2cmoKOI/AAAAAAAAUfU/-7A1poW5ObgbLuwT5ILfGw8hpOmnAcGCQCLcB/s1600/DummyProd-01_1.jpg',
        },
      ],
    }
  },
  computed: {
    filtered() {
      if (this.search === '' || this.search === null) {
        return []
      }

      return this.types.filter((item) => {
        if (item.name.includes(this.search)) {
          return true
        }

        if (item.single.includes(this.search)) {
          return true
        }

        return false
      })
    },
  },
}
</script>
