<template>
  <v-footer app padless class="text-center">
    <v-card flat style="width: 100%">
      <v-card-text>
        ساهم &copy;
        {{ new Date().getFullYear() }}
      </v-card-text>
    </v-card>
  </v-footer>
</template>
