<template>
  <div>
    <app-base-toolbar user></app-base-toolbar>

    <v-main app>
      <v-container>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>

        <v-card tile class="py-3">
          <v-card-title>
            {{ type.name }}

            <v-spacer></v-spacer>

            <div>
              <v-btn text outlined rounded>
                <v-icon>mdi-plus</v-icon>
                اضافة {{ type.single }}
              </v-btn>

              <v-btn text outlined rounded>
                <v-icon>mdi-plus</v-icon>
                طلب {{ type.single }}
              </v-btn>
            </div>
          </v-card-title>
          <v-card-text>
            <v-row dense>
              <v-col
                v-for="loc in locations"
                :key="loc.id"
                cols="12"
                sm="6"
                md="4"
                lg="3"
              >
                <v-card hover height="100%" @click="show(loc)">
                  <v-img :src="type.image" height="150" contain>
                    <template #placeholder>
                      <v-row
                        class="fill-height ma-0"
                        align="center"
                        justify="center"
                      >
                        <v-progress-circular
                          indeterminate
                          color="primary"
                        ></v-progress-circular>
                      </v-row>
                    </template>
                  </v-img>
                  <v-card-text>
                    {{ type.single }}
                    <div>
                      <v-chip small class="mt-1 me-1">
                        {{ loc.region }}
                      </v-chip>

                      <v-chip small class="mt-1 me-1">
                        {{ loc.place }}
                      </v-chip>

                      <v-chip small class="mt-1 me-1">
                        {{ loc.date }}
                      </v-chip>
                    </div>
                  </v-card-text>
                  <!-- <v-card-actions>
                  </v-card-actions> -->
                </v-card>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-container>
    </v-main>

    <v-dialog v-model="dialog" max-width="600">
      <v-card>
        <v-card-title>
          {{ type.single }}
        </v-card-title>
        <v-card-text v-if="location">
          <v-img :src="type.image" max-width="300" contain class="mx-auto">
            <template #placeholder>
              <v-row class="fill-height ma-0" align="center" justify="center">
                <v-progress-circular
                  indeterminate
                  color="primary"
                ></v-progress-circular>
              </v-row> </template
          ></v-img>
          <div>المنطقة: {{ location.region }}</div>
          <div>المكان: {{ location.place }}</div>
          <div>تاريخ الاعلان: {{ location.date }}</div>

          <div>
            {{ type.single }}
            بحالة جيدة للاستعمال
          </div>
          <div>
            التواصل على الرقم
            <a href="tel:+966555555555" dir="ltr">+966555555555</a>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>

    <app-footer></app-footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      types: [
        {
          name: 'كراسي متحركة',
          single: 'كرسي متحرك',
          image:
            'https://www.wishingwellmedicalsupply.com/wp-content/uploads/2016/04/Standard-Wheelchair.jpg',
        },
        {
          name: 'اسرة طبية',
          single: 'سرير طبي',
          image:
            'https://bestmobilityaids.com/wp-content/uploads/Mattresses-for-hospital-beds.jpg',
        },
        {
          name: 'عكازات ',
          single: 'عكاز',
          image:
            'https://cdn.salla.sa/abgsKWoHXhmuEsoNsbHAB3HOboh0IHjzKg1yqcJT.jpg',
        },
        {
          name: 'اجهزة قياس الضغط',
          single: 'جهاز قياس الضغظ',
          image:
            'https://www.lemon.sa/image/cache/catalog/pharmacy/products/appliances/Blood-pressure-checker-400x400.jpg',
        },
        {
          name: 'اجهزة دعم الحركة',
          single: 'جهاز دعم الحركة',
          image:
            'https://lookformedical.com/img/2/29/Mobility-aids-rifton-pacer-gait-trainer.jpg',
        },
        {
          name: 'مولدات اكسجين',
          single: 'مولد اكسجين',
          image:
            'https://1.bp.blogspot.com/-Uomqk1EY2qo/V65r2cmoKOI/AAAAAAAAUfU/-7A1poW5ObgbLuwT5ILfGw8hpOmnAcGCQCLcB/s1600/DummyProd-01_1.jpg',
        },
        {
          name: 'اخرى',
          single: 'صنف جديد',
          image:
            'https://s3.amazonaws.com/images.ecwid.com/images/786032/907089352.jpg',
        },
      ],
      locations: [
        {
          id: 1,
          region: 'المنطقة الشرقية',
          place: 'الاحساء',
          date: 'اليوم',
        },
        {
          id: 2,
          region: 'المنطقة الوسطى',
          place: 'غرب الرياض',
          date: 'اليوم',
        },
        {
          id: 3,
          region: 'المنطقة الغربية',
          place: 'المدينة المنورة',
          date: 'امس',
        },
        {
          id: 4,
          region: 'المنطقة الغربية',
          place: 'مكة المكرمة',
          date: 'قبل يومين',
        },
        {
          id: 5,
          region: 'المنطقة الشرقية',
          place: 'الدمام',
          date: 'قبل 3 ايام',
        },
        {
          id: 6,
          region: 'المنطقة الوسطى',
          place: 'غرب الرياض',
          date: 'قبل 3 ايام',
        },
        {
          id: 7,
          region: 'المنطقة الغربية',
          place: 'المدينة المنورة',
          date: 'قبل 4 ايام',
        },
        {
          id: 8,
          region: 'المنطقة الغربية',
          place: 'مكة المكرمة',
          date: 'قبل 5 ايام',
        },
      ],
      location: null,
      dialog: false,
    }
  },
  head() {
    return {
      title: this.type.name,
    }
  },
  computed: {
    breadcrumbs() {
      return [
        { text: 'الرئيسية', to: { name: 'index' }, exact: true },
        { text: 'الفئات', to: { name: 'types' }, exact: true },
        { text: this.type.name, disabled: true },
      ]
    },
    type() {
      const index = (this.$route.params.id - 1) % this.types.length
      return this.types[index]
    },
  },
  methods: {
    show(location) {
      this.location = location
      this.dialog = true
    },
  },
}
</script>
