<template>
  <div>
    <app-base-toolbar user></app-base-toolbar>

    <v-main app>
      <v-container>
        <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>

        <v-card tile class="py-3">
          <v-card-title>
            <v-btn text>
              <v-icon>mdi-plus</v-icon>
              اضافة منتج
            </v-btn>
            <v-btn text>
              <v-icon>mdi-plus</v-icon>
              طلب منتج
            </v-btn>
            <v-spacer></v-spacer>
            <div>
              <v-btn outlined tile text> تصفية </v-btn
              ><v-btn outlined tile text> ترتيب </v-btn>
            </div>
          </v-card-title>
          <v-card-text>
            <v-row dense>
              <v-col
                v-for="(item, index) in types"
                :key="item.name"
                cols="6"
                sm="4"
                md="3"
                lg="2"
              >
                <v-card
                  hover
                  :to="{ name: 'types-id', params: { id: index + 1 } }"
                >
                  <v-img :src="item.image" height="150" contain>
                    <template #placeholder>
                      <v-row
                        class="fill-height ma-0"
                        align="center"
                        justify="center"
                      >
                        <v-progress-circular
                          indeterminate
                          color="primary"
                        ></v-progress-circular>
                      </v-row>
                    </template>
                  </v-img>
                  <v-card-text>
                    {{ item.name }}
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-container>
    </v-main>

    <app-footer></app-footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadcrumbs: [
        { text: 'الرئيسية', to: { name: 'index' }, exact: true },
        { text: 'الفئات', disabled: true },
      ],
      types: [
        {
          name: 'كراسي متحركة',
          image:
            'https://www.wishingwellmedicalsupply.com/wp-content/uploads/2016/04/Standard-Wheelchair.jpg',
        },
        {
          name: 'اسرة طبية',
          image:
            'https://bestmobilityaids.com/wp-content/uploads/Mattresses-for-hospital-beds.jpg',
        },
        {
          name: 'عكازات ',
          image:
            'https://cdn.salla.sa/abgsKWoHXhmuEsoNsbHAB3HOboh0IHjzKg1yqcJT.jpg',
        },
        {
          name: 'اجهزة قياس الضغط',
          image:
            'https://www.lemon.sa/image/cache/catalog/pharmacy/products/appliances/Blood-pressure-checker-400x400.jpg',
        },
        {
          name: 'اجهزة دعم الحركة',
          image:
            'https://lookformedical.com/img/2/29/Mobility-aids-rifton-pacer-gait-trainer.jpg',
        },
        {
          name: 'مولدات اكسجين',
          image:
            'https://1.bp.blogspot.com/-Uomqk1EY2qo/V65r2cmoKOI/AAAAAAAAUfU/-7A1poW5ObgbLuwT5ILfGw8hpOmnAcGCQCLcB/s1600/DummyProd-01_1.jpg',
        },
        {
          name: 'اخرى',
          image:
            'https://s3.amazonaws.com/images.ecwid.com/images/786032/907089352.jpg',
        },
      ],
    }
  },
  head() {
    return {
      title: 'صفحة الفئات',
    }
  },
}
</script>
