<template>
  <div>
    <app-base-toolbar user></app-base-toolbar>

    <v-main app>
      <v-container>
        <v-card>
          <v-card-title>
            ابراهيم البلادي
            <v-spacer></v-spacer>

            <v-btn icon>
              <v-icon>mdi-pen</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-text>
            <div>
              <v-icon right>mdi-account</v-icon>
              متبرع
            </div>
            <div>
              <v-icon right>mdi-map-marker</v-icon>
              المنطقة الشرقية - الاحساء
            </div>
            <div>
              <v-icon right>mdi-cellphone</v-icon>
              <span dir="ltr">+966554861128</span>
            </div>
            <div>
              <v-icon right>mdi-charity</v-icon>
              15 منتج

              <small>(+ 4 منتجات معلقة)</small>
            </div>
            <nuxt-link :to="{ name: 'rankings' }">
              <v-icon right>mdi-trophy</v-icon>
              1345

              <small>(+ 205 من منتجات معلقة)</small>
            </nuxt-link>
          </v-card-text>
        </v-card>

        <v-card class="mt-3">
          <v-card-title>
            التبرعات المعلقة

            <v-spacer></v-spacer>

            <v-btn text outlined rounded>
              تبرع بصنف آخر
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-text>
            <v-row dense>
              <v-col
                v-for="item in items"
                :key="item.name"
                cols="12"
                sm="6"
                md="4"
                lg="3"
              >
                <v-card hover height="100%">
                  <v-img :src="item.image" height="150" contain>
                    <template #placeholder>
                      <v-row
                        class="fill-height ma-0"
                        align="center"
                        justify="center"
                      >
                        <v-progress-circular
                          indeterminate
                          color="primary"
                        ></v-progress-circular>
                      </v-row>
                    </template>
                  </v-img>
                  <v-card-text>
                    {{ item.single }}
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-container>
    </v-main>

    <app-footer></app-footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          name: 'كراسي متحركة',
          single: 'كرسي متحرك',
          image:
            'https://www.wishingwellmedicalsupply.com/wp-content/uploads/2016/04/Standard-Wheelchair.jpg',
        },
        {
          name: 'اسرة طبية',
          single: 'سرير طبي',
          image:
            'https://bestmobilityaids.com/wp-content/uploads/Mattresses-for-hospital-beds.jpg',
        },
        {
          name: 'عكازات ',
          single: 'عكاز',
          image:
            'https://cdn.salla.sa/abgsKWoHXhmuEsoNsbHAB3HOboh0IHjzKg1yqcJT.jpg',
        },
        {
          name: 'اجهزة قياس الضغط',
          single: 'جهاز قياس الضغظ',
          image:
            'https://www.lemon.sa/image/cache/catalog/pharmacy/products/appliances/Blood-pressure-checker-400x400.jpg',
        },
      ],
    }
  },
  head() {
    return {
      title: 'صفحة المتبرع',
    }
  },
}
</script>
