<template>
  <div>
    <app-base-toolbar></app-base-toolbar>

    <v-main app>
      <v-parallax
        src="https://www.sosclorox.com/wp-content/uploads/CarePackage.png"
        :height="height"
      >
        <v-container>
          <v-row align="center">
            <v-col class="mx-auto" style="max-width: 600px">
              <v-row
                class="text-center text-h4"
                style="
                  background-color: rgba(0, 0, 0, 0.2);
                  border-radius: 16px;
                "
              >
                <v-col cols="12"> ساهم في نشر الخير مع منصة ساهم </v-col>
                <v-col cols="12">
                  <v-btn color="sucess" :to="{ name: 'types' }">
                    تصفح الفئات
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-parallax>

      <v-card tile class="py-2">
        <v-container>
          <v-card-title class="text-h5"> من نحن؟ </v-card-title>
          <v-card-text class="text-h6">
            منصة ساهم لتوفير الاجهزة الطبية للمعتازين.
          </v-card-text>
        </v-container>
      </v-card>

      <v-card tile class="py-2">
        <v-container>
          <v-card-title class="text-h5"> عن المنصة </v-card-title>
          <v-card-text class="text-h6">
            تعمل منصة ساهم على توفير الاجهزة الطبية للمستفيدين الغير قادرين على
            شراء الاجهزة او المستلزمات الطبية التي بحالة جيدة عن طريق جمع
            المستفيد والمتبرع من خلال هذه المنصة.
          </v-card-text>
        </v-container>
      </v-card>

      <v-card tile class="py-2">
        <v-container>
          <v-card-title class="text-h5"> رؤيتنا </v-card-title>
          <v-card-text class="text-h6">
            أن يتحقق فينا حديث النبي صلى الله عليه وآله وسلم

            <span class="kufi green--text">
              (مَنْ كَانَ في حَاجَة أخِيه، كَانَ اللهُ في حَاجَتِهِ)
            </span>
            و‭ ‬نكون‭ ‬مؤسسة‭ ‬خيرية‭‬‭ ‬في‭ ‬مجال‭ ‬المستلزمات‭ ‬الطبية‭ .
          </v-card-text>
        </v-container>
      </v-card>

      <v-card tile class="py-2">
        <v-container>
          <v-card-title class="text-h5"> مهمتنا </v-card-title>
          <v-card-text class="text-h6">
            الإسهام‭ ‬في‭ ‬رفع‭ ‬المعاناة‭ ‬عن‭ ‬المرضى‭ ‬وعائلاتهم من خلال
            توفير العناية اللازمة لهم.
          </v-card-text>
        </v-container>
      </v-card>

      <v-card tile class="py-2">
        <v-container>
          <v-card-title class="text-h5"> قيمُنا </v-card-title>
          <v-card-text class="text-h6">
            لنحياها ونحييها ، حثنا ديننا الحنيف على التراحم والتكافل الاجتماعي ،
            سعينا لتقديم فكرة تخدم الانسان وتلبي احتياجاته الطبية بكل اخلاص.
          </v-card-text>
        </v-container>
      </v-card>

      <v-card tile class="py-2">
        <v-container>
          <v-card-title class="text-h5"> خدمات المنصة </v-card-title>
          <v-card-text class="pt-5">
            <v-row>
              <v-col
                v-for="step in steps"
                :key="step.icon"
                cols="12"
                md="4"
                class="pb-5"
              >
                <v-hover v-slot="{ hover }" style="height: 100%">
                  <v-card
                    class="text-center"
                    flat
                    outlined
                    :class="hover ? 'primary' : ''"
                  >
                    <v-avatar
                      size="54"
                      class="mt-n7 rounded-circle white"
                      style="border: thin solid rgba(0, 0, 0, 0.12) !important"
                    >
                      <v-icon large>{{ step.icon }}</v-icon>
                    </v-avatar>
                    <v-card-text :class="hover ? 'white--text' : ''">
                      <h2 class="text-h6 font-weight-bold">{{ step.title }}</h2>
                      <h3 class="text-body-1">
                        {{ step.body }}
                      </h3>
                    </v-card-text>
                  </v-card>
                </v-hover>
              </v-col>
            </v-row>
          </v-card-text>
        </v-container>
      </v-card>

      <v-card tile class="py-2">
        <v-container>
          <v-card-title class="text-h5"> دع الارقام تتحدث </v-card-title>
          <v-card-text class="text-h6">
            <v-row>
              <v-col cols="12" md="3">
                <v-hover v-slot="{ hover }">
                  <v-card
                    class="text-center"
                    outlined
                    style="height: 100%"
                    :class="hover ? 'primary' : ''"
                  >
                    <v-card-text
                      class="pb-"
                      :class="hover ? 'white--text' : ''"
                    >
                      <div class="text-h4">125</div>
                    </v-card-text>
                    <v-card-text
                      class="pt-"
                      :class="hover ? 'white--text' : ''"
                    >
                      <div class="text-h6">متبرع</div>
                    </v-card-text>
                  </v-card>
                </v-hover>
              </v-col>

              <v-col cols="12" md="3">
                <v-hover v-slot="{ hover }">
                  <v-card
                    class="text-center"
                    outlined
                    style="height: 100%"
                    :class="hover ? 'primary' : ''"
                  >
                    <v-card-text
                      class="pb-"
                      :class="hover ? 'white--text' : ''"
                    >
                      <div class="text-h4">125</div>
                    </v-card-text>
                    <v-card-text
                      class="pt-"
                      :class="hover ? 'white--text' : ''"
                    >
                      <div class="text-h6">مستفيد</div>
                    </v-card-text>
                  </v-card>
                </v-hover>
              </v-col>

              <v-col cols="12" md="3">
                <v-hover v-slot="{ hover }">
                  <v-card
                    class="text-center"
                    outlined
                    style="height: 100%"
                    :class="hover ? 'primary' : ''"
                  >
                    <v-card-text
                      class="pb-"
                      :class="hover ? 'white--text' : ''"
                    >
                      <div class="text-h4">321</div>
                    </v-card-text>
                    <v-card-text
                      class="pt-"
                      :class="hover ? 'white--text' : ''"
                    >
                      <div class="text-h6">منتج تم التبرع به</div>
                    </v-card-text>
                  </v-card>
                </v-hover>
              </v-col>

              <v-col cols="12" md="3">
                <v-hover v-slot="{ hover }">
                  <v-card
                    class="text-center"
                    outlined
                    style="height: 100%"
                    :class="hover ? 'primary' : ''"
                  >
                    <v-card-text
                      class="pb-"
                      :class="hover ? 'white--text' : ''"
                    >
                      <div class="text-h4">125,456 ريال</div>
                    </v-card-text>
                    <v-card-text
                      class="pt-"
                      :class="hover ? 'white--text' : ''"
                    >
                      <div class="text-h6">سعر ما تم التبرع بها</div>
                    </v-card-text>
                  </v-card>
                </v-hover>
              </v-col>
            </v-row>
          </v-card-text>
        </v-container>
      </v-card>
    </v-main>

    <app-footer></app-footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      steps: [
        {
          icon: 'mdi-monitor',
          title: 'التسجيل',
          body: 'تمكين المتبرع والمستفيد من التسجيل في المنصة',
        },
        {
          icon: 'mdi-view-grid-outline',
          title: 'عرض الفئات',
          body: 'تمكين المتبرع والمستفيد من عرض الفئات المتوفرة',
        },
        {
          icon: 'mdi-format-list-bulleted-square',
          title: 'تواصل المستفيد مع المتبرع',
          body: 'عندما يجد المستفيد حاجته يمكنه التواصل مع المتبرع للاتفاق',
        },
      ],
    }
  },
  head() {
    return {
      title: 'الصفحة الرئيسية',
    }
  },
  computed: {
    height() {
      if (this.$vuetify.breakpoint.xl) {
        return 600
      } else if (this.$vuetify.breakpoint.lg) {
        return 600
      } else if (this.$vuetify.breakpoint.md) {
        return 600
      } else if (this.$vuetify.breakpoint.sm) {
        return 500
      } else {
        return 400
      }
    },
  },
}
</script>

<style scoped>
.theme--light.v-card {
  transition: all 450ms;
}
</style>
