<template>
  <div>
    <app-base-toolbar></app-base-toolbar>

    <v-main app>
      <v-container>
        <v-card class="py-3 mt-12 mx-auto" max-width="500">
          <v-card-title>تسجيل الدخول</v-card-title>
          <v-card-text>
            <v-row dense>
              <v-col cols="12">
                <v-text-field
                  label="البريد الالكتروني"
                  outlined
                  filled
                  hide-details
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="كلمة المرور"
                  outlined
                  filled
                  hide-details
                  type="password"
                ></v-text-field>
              </v-col>

              <v-col cols="12" class="text-center pt-5">
                <v-btn color="primary" :to="{ name: 'donor' }">دخول</v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-container>
    </v-main>

    <app-footer></app-footer>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'صفحة تسجيل الدحول',
    }
  },
}
</script>
