<template>
  <div>
    <app-base-toolbar></app-base-toolbar>

    <v-main app>
      <v-container>
        <v-card class="mt-3">
          <v-card-title>
            <v-icon right>mdi-trophy</v-icon>
            اكثر المتبرعين
          </v-card-title>
          <v-card-text>
            <v-data-table
              :items="people"
              :headers="headers"
              hide-default-footer
              disable-sort
            >
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-container>
    </v-main>

    <app-footer></app-footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      headers: [
        { value: 'rank', text: 'الترتيب' },
        { value: 'name', text: 'المتبرع' },
        { value: 'points', text: 'النقاط' },
      ],
      people: [
        { rank: '#1', name: 'غيدا', points: 1987 },
        { rank: '#2', name: 'غلباء', points: 1543 },
        { rank: '#3', name: 'ابراهيم', points: 1345 },
        { rank: '#4', name: 'عبدالسلام', points: 1234 },
        { rank: '#5', name: 'ريهام', points: 1222 },
      ],
    }
  },
  head() {
    return {
      title: 'صفحة اكثر المتبرعين',
    }
  },
}
</script>
