<template>
  <div>
    <app-base-toolbar user></app-base-toolbar>

    <v-main app>
      <v-container>
        <v-card class="mt-3">
          <v-card-title> الفريق </v-card-title>
          <v-card-text>
            <v-row justify="center">
              <v-col
                v-for="member in members"
                :key="member.name"
                cols="12"
                sm="6"
                md="4"
                lg="3"
                class="text-center pb-5"
              >
                <v-hover v-slot="{ hover }" style="height: 100%">
                  <v-card
                    class="text-center"
                    flat
                    outlined
                    :class="hover ? 'primary' : ''"
                    :href="member.link"
                    target="_blank"
                  >
                    <v-avatar
                      size="54"
                      class="mt-n7 rounded-circle white"
                      style="border: thin solid rgba(0, 0, 0, 0.12) !important"
                    >
                      <v-fade-transition
                        v-if="member.gender === 'female'"
                        mode="out-in"
                      >
                        <template v-if="!hover">
                          <v-icon large>mdi-face-woman</v-icon>
                        </template>
                        <template v-else>
                          <v-icon large>mdi-face-woman-shimmer</v-icon>
                        </template>
                      </v-fade-transition>
                      <v-fade-transition
                        v-else-if="member.gender === 'male'"
                        mode="out-in"
                      >
                        <template v-if="!hover">
                          <v-icon large>mdi-face</v-icon>
                        </template>
                        <template v-else>
                          <v-icon large>mdi-face-shimmer</v-icon>
                        </template>
                      </v-fade-transition>
                    </v-avatar>
                    <v-card-text :class="hover ? 'white--text' : ''">
                      <h2 class="text-h6 font-weight-bold">
                        {{ member.name }}
                      </h2>
                      <h3 class="text-body-1">
                        {{ member.major }} - {{ member.city }}
                      </h3>
                    </v-card-text>
                  </v-card>
                </v-hover>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-container>
    </v-main>

    <app-footer></app-footer>
  </div>
</template>

<script>
export default {
  data() {
    return {
      members: [
        {
          name: 'غيداء القرني',
          city: 'بيشه',
          major: 'علوم حاسب',
          gender: 'female',
          link: 'https://www.linkedin.com/in/ghaydaqarni/',
        },
        {
          name: 'غلباء عبدالوهاب',
          city: 'بيشه',
          major: 'علوم حاسب',
          gender: 'female',
          link: 'https://www.linkedin.com/in/ghlbaa/',
        },
        {
          name: 'ريهام علي',
          city: 'جدة',
          major: 'علوم حاسب',
          gender: 'female',
        },
        {
          name: 'عبدالسلام الدوسري',
          city: 'الرياض',
          major: 'نظم معلومات',
          gender: 'male',
        },
        {
          name: 'ابراهيم البلادي',
          city: 'الاحساء',
          major: 'علوم حاسب',
          gender: 'male',
          link: 'https://ibrahimbeladi.sa/',
        },
      ],
    }
  },
  head() {
    return {
      title: 'صفحة الفريق المطور',
    }
  },
}
</script>
